div.inner {
  input[type="text"], select {
    width: 80%; }
}

div#checkout #checkout_form_address {
  #billing, #shipping {
    .select_address label {
      float: none;
    }
    input[type="radio"] {
      width: auto;
    }
  }
}

.hidden {
  display: none;
}

#save_user_address { margin: 0 0.5em 0 2em }
